.finish__points {
    position: relative;
    font-size: 300px;
    font-weight: 700;
    line-height: 1;
    color: #03A96A;
    text-align: center;
    margin: 40px 0;
    text-transform: uppercase;
}